{% extends 'layout.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="mapid" class="rounded mx-auto d-block text-center"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        var map = L.map('mapid', {
            center: [51.505, -0.09],
            zoom: 10,
        });



        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        }).addTo(map);

        L.marker([51.5, -0.09]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();
    </script>

{% endblock %}
